<header>
    <nav>
        <ul class="nav_links">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/register">Sign In</a></li>
        </ul>
      <%- include('./search_form.ejs') %>
    </nav>
</header>