<form  class="search_form" action="/search" method="POST">
    <input  role="search"
     type="search"
     name="searchItem"
     placeholder="Enter your search query">
    <button type="submit">Search</button>
</form>