body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient( to right, #26c0e6,#2de44b);
  }
  h1{
    text-align: center;
  }
  .login-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
    border-radius: 10px;
    background-color: #fff;
  }

  /* input{
    border-top:none;
    border-left:none;
    border-right: none;
    display:block;
    margin-bottom: 32px;
    padding:18px;
    border-bottom: 2px solid #ccc;
    

  } */

  input {
    border: none;
    border-bottom: 2px solid #ccc;
    display: block;
    margin-bottom: 32px;
    padding: 18px;
    width: calc(100% - 36px); /* Adjust the width to account for padding */
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }
  input:focus::placeholder {
    color: #0073ff;  /* Change the color of the placeholder text to blue when the input is focused */
    transform: translateY(-10px);  /* Move the placeholder text up by 10 pixels */
  }
  
  input:focus {
    border-bottom: 2px solid #0073ff;  /* Change the underline to blue when the input is focused */
    outline: none;  /* Remove the default focus outline */
  }
  

  a{
    text-decoration: none;
    color:#0073ff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
  }
  hr{
    margin-bottom: 32px;
    border:1px solid grey;
  }

  .login-btn{
    display: block;
    color:#fff;
    padding:8px;
    width: 90%;
    background-color: #26c0e6;
    border:none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-top:14px;
    margin-bottom: 14px;
  }
  