@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --background:#6e6e6e;
    --links_color:#067BC2;
    --buttons_color:#BCFD4C;
    --text_color:#000;
    --icons_color:#F24E1E;
    --side_dashboard_color:#DEDEDE;
}

body{
    font-family:'Inknut Antiqua', serif;
    background-color: var(--background);
    color: var(--text_color);
    height: 100vh;
}

a{
    text-decoration: none;
    color: #000;
    display: block;
    cursor: pointer;
}
a:hover{
    color: var(--links_color);
}
a:focus{
    color:var(--icons_color);
}
    main{
        padding: 20px 5%;
        display: flex;
    }

    .left-section{
        flex-basis: 30%;
        position: fixed;
        left:0;
        top:0;
        bottom:0;
        background: var(--side_dashboard_color);
        height: 100vh;
        padding:20px;
    }

    .left-section h1{
        text-transform: uppercase;
        color:#F24E1E;
    }

    .left-section .single-div{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #000;
        padding:10px 0;
    }

    .single-div .icon-container{
        width:60px;
        height: 60px;
        border:1px solid #000;
        border-radius: 30px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-container img{
        width:40px;
        height: 40px;

    }

    .image-container{
    width: 60px;
    height: 60px;
    }

  .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .text-container p{
    margin:0;
    padding:0;
  }


  .right-section{
    flex-basis: 65%;
    background-color: #fff;
    position: relative;
    left:320px;
    top:100px;
    padding:20px;
    border-radius: 20px;
    height: auto;
  }
  .update-profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #username{
   padding:12px;
   margin-left: 10px;
   border-radius: 10px;
  }

  .pic{
    display: flex;
    margin:20px 0;
    justify-content: center;
    align-items: center;
  }

  .username-input{
    margin:40px 0;
  }

  .pic input[type="image"] {
    width: 200px;
    padding:18px;
    margin-right: 10px; 
    border-radius: 10px; 
    border:2px solid #000;
    margin-left: 20px;

}

.add-img-btn,.remove-btn{
 margin-left:20px;
 border-radius: 20px;
 border:none;

}


.pic img{
    width:20px;
    height: 20px;
}

.save-btn{
    padding: 5px 20px;
    border-radius: 10px;
    background-color: var(--buttons_color);
    color: #000;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    border:none;
    font-family: 'Inknut Antiqua', serif;
}

.save-btn:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid var(--buttons_color);
}


/* ======Responsivess========== */
