*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:1rem;
    font-family: cursive;
    text-align: center;
   
}
nav{
    border: 2px solid #069bac;
    max-width: 400px;
    margin: 0 auto 2rem;
    border-radius: 20px;
    font-size: 2rem;

}

h2{
    background-color: tomato;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding:0.5rem;
}

ul{
    list-style-type: none;
    line-height: 1.7;
   font-size: 24px;
   
}
ul li{
    border-top: 1px solid #333;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}


ul li:last-child{
    border-radius: 0 0 20px 20px;
}

ul li:hover{
    background-color: #dedede;
}

li a{
    text-decoration: none;
    display: block;
}