/* General styles for all devices */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    width: 250px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.product img{
    height: 250px;
    width: 250px;
    object-fit: cover;
}

/* Media query for tablets and smaller screens */
@media only screen and (max-width: 768px) {
    .product {
        width: 45%;
    }
}

/* Media query for mobile devices */
@media only screen and (max-width: 480px) {
    .product {
        width: 100%;
    }
}
